@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  background-color: #fff2ef;
  display: flex;
  justify-content: center;
  padding: 2rem;
  --primary: #066586;
}

p {
  font-size: 0.75rem;
}

.login{
    width: 550px;
    background-color: #E3e2c1;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0.8rem;
    border-radius: 5px;
    overflow: hidden;

}
.img-wrapper{
    height: 100%;
    
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    padding: 8px 12px;
    border: 0.8px solid rgb(128, 128, 128);
    border-radius: 7px;
    color: #555;
}
.reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reset > button{
    display: flex;
    gap: 0.2rem;
    padding: 5px 10px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
}
.reset > p {
    font-weight: 500;
    color: var(--primary);
}
.or-login-with{
    text-align: center;
    color: gray;
    font-size: 0.65rem;
}
.social-login{
    display: flex;
    gap: 0.3rem;
    justify-content: center;

}
.social-login > button{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 7px 12px;
    border: 0.8px solid rgb(128,128,128);
    border-radius: 5px;
}
.sing-up-cta{
    text-align: center;

}
.sing-up-cta span {
    color: var(--primary);
    text-decoration: underline;
}