.cv-section {
  margin: 3rem auto;
  text-align: center;
  background: #2A7B9B;
  background: linear-gradient(
    to right,
    #f387e3,
    #a855f7
  );
}

.cv-frame {
  width: 100%;
  max-width: 900px;
  height: 600px;
  margin: 1.5rem auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
}

.cv-frame iframe {
  width: 100%;
  height: 100%;
  border: none;
}



.myButton {
	box-shadow: 5px 4px 10px 2px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:6px 71px;
	text-decoration:none;
	text-shadow:0px 6px 6px #810e05;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}