
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #222;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.shopping-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6b21a8;
  width: 280px;
  min-height: 200px;
  border: 2px solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 0px;
  margin: 10px;
}
.shopping-card h2,
.shopping-card p {
  color: #f4dede;
  margin-bottom: 0px;
  text-shadow: 4px 4px 2px rgba(217,70,239,0.6);
  
  
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #6b21a8;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-bottom: 7px;
}

.shop {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}


.tour > p,
.tour > h2 {
    font-family: "Comic Sans MS", cursive, sans-serif;
letter-spacing: 3.4px;
word-spacing: -4.4px;
color: hsl(292, 57%, 86%);
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: capitalize;
    
}


.subscription-section {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
}

.subscription-card {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(
    to right,
    #f387e3,
    #a855f7
  );
}

