
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.shopping-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6b21a8;
  width: 280px;
  min-height: 200px;
  border: 2px solid #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0px;
}
.shopping-card h2,
.shopping-card p {
  color: #fff;
  margin-bottom: 0px;
  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2, 2px 2px 2px rgba(206,89,55,0);
  
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #6b21a8;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-bottom: 7px;
}

.shop {
    clip-path: polygon(9% 1%, 90% 0, 100% 30%, 100% 70%, 93% 100%, 7% 100%, 0% 70%, 0% 30%);
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;      /* FOARTE IMPORTANT */
  margin: 0;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 10px;
  
  
}

.shop img {
    
  width: 100%;
  height: 100%;
  object-fit: cover;
  gap: 5px;
}
