
.item:nth-child(1) {
  width: 100%;       /* se întinde pe tot containerul */
  height: 40vh;      /* 40% din înălțimea ecranului */
  background-image: url('banner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

}

.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5) {
  grid-column: 1 / -1;
  width: 100%;
  margin: 0 auto;
  position: static;
  height: 20rem;
}

.item:nth-child(2) {
  background-color: rgb(56, 120, 230);
}

.item:nth-child(3) {
  background-color: rgb(114, 237, 26);
}

.item:nth-child(4) {
  background-color: rgb(241, 48, 14);
}

.item:nth-child(5) {
  background-color: rgb(242, 20, 246);
}

/* Responsive pentru mobil */
@media (min-width: 768px) {
  .container {
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 100px;
    gap: 10px 10px;
  }

  .item:nth-child(1),
  .item:nth-child(5) {
    grid-column: 1 / 4;
  }

  .item:nth-child(2) {
    grid-column: 1 / 2;
    height: 50rem;
  }

  .item:nth-child(3) {
    grid-column: 2 / 3;
    height: 50rem;
  }

  .item:nth-child(4) {
    grid-column: 3 / 4;
    height: 50rem;
  }
}





