@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@media (max-width: 768px) {
  #certifications {
    flex-direction: column;
    align-items: center;
  }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fff2ef;

  display: flex;
  flex-direction: column;   
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      line-height: 1.6;
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      background-attachment: fixed;
      color: var(--text-dark);
      min-height: 100vh;
    

}

.main-nav {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      position: sticky;
      top: 0;
      z-index: 10;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    
}
.blok {
    width: 500px;
    height: 500px;
    margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;                  /* CHEIA A DOUA */
  display: flex;
  justify-content: center;
  align-items: center;
}


p {
  font-size: 0.75rem;
}

.login{
    width: 650px;
    background-color: #E3e2c1;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    gap: 0.8rem;
    border-radius: 5px;
    overflow: hidden;

}
.img-wrapper{
    height: 100%;
    
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
input {
    padding: 8px 12px;
    border: 0.8px solid rgb(128, 128, 128);
    border-radius: 7px;
    color: #555;
}
.reset {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reset > button{
    display: flex;
    gap: 0.2rem;
    padding: 5px 10px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
}
.reset > p {
    font-weight: 500;
    color: var(--primary);
}
.or-login-with{
    text-align: center;
    color: gray;
    font-size: 0.65rem;
}
.social-login{
    display: flex;
    gap: 0.3rem;
    justify-content: center;

}
.social-login > button{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 7px 12px;
    border: 0.8px solid rgb(128,128,128);
    border-radius: 5px;
}
.sing-up-cta{
    text-align: center;

}
.sing-up-cta span {
    color: var(--primary);
    text-decoration: underline;
}

