@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --primary: #737493;

    font-family: "Roboto" sans-serif;
    display: flex;
    justify-content: center;

    background-color: #f1f3fe;
}

main{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    display: flex;
    gap: 0.5rem;
    align-items: center;

}

.left select {
    width: 40px;
}
.left > p {
    font-size: 0.8rem;
    color: var(--primary);
    
}

.input-group {
    width: 200px;
    position: relative;
    overflow: hidden;
}

.input-group input {
    width: 100%;
    border: 1px solid gray;
    padding: 8px 10px;
    border-radius: 5px;
    padding-left: 30px;
}

.input-group i {
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
}

table {
    border-style: 0.5px;
}

th > div {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #737493;
}

th, td {
    padding: 0.6rem 0.8rem;
}
tr:not(:first-child) {
    background-color: white;
    transition: 0.2s;
}


tr:not(:first-child):hover {
   cursor: pointer;
   transform: scale(1.05);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
td {
    color: #555555;
}