@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto", sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    
}

.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    gap: 0.3rem;

}
.title h3 {
    font-size: 0.8rem;
    font-weight: 600;
}
.img-wrapper {
    position: relative;
    height: 15rem;

}
.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 5%;
    left: 10%;
    background-color: rgb(0,0,0,0.85);
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 0.6rem;

}

.overlay > div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.overlay > div p {
    color: rgb(72, 72, 230);
}

.tag {
    position: absolute;
    top: 5%;
    right: -8px;
    background-color: blue;
    color: white;
    padding: 0.4rem;

}
.tag::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(19, 4, 103);
    right: 0;
    bottom: -10px;
    z-index: -1;
    clip-path: polygon(0 1%, 100% 0, 0 100%);


}