@import "tailwindcss";

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fc0dfc;
}

/* Navigation Styling */
.nav-container {
    background-color: #9c12f1;
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

.main-nav ul {
    list-style-type: style square;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.main-nav a {
    color: rgb(233, 30, 158);
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    color: #ffd700;
}

/* Header Styling */
.header {
  height: 200px;
  background-color: #d946ef;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* TEXT */
.header-content {
  text-align: center;
  background-color: #fdf2f8;
  padding: 20px 30px;
  border-radius: 10px;
  transition: opacity 0.3s ease;
  z-index: 2;
}

/* POZA ROTUNDĂ */
.header-photo {
  width: 140px;
  height: 140px;
  background-image: url("./eu.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

/* HOVER EFFECT */
.header:hover .header-content {
  opacity: 0;
}

.header:hover .header-photo {
  opacity: 1;
  transform: scale(1.05);
}



/* Main Content Styling */
.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1rem;
    
}

.highlight {
  font-weight: 600;
  color: #4b79a1;
}


.about-section, .services-section, .contact-section {
    background-color: rgb(255, 255, 255);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    
}
 .about-section:hover {
  background-color: #1260fa;
  color: #f4f4f4;

}
.highlight2{
  font-weight: 600;
  color: #eb4513;
  
  
} 


.services-section:hover {
  background-color: #1260fa;
  color: #f4f4f4;
}
.about-section:hover .highlight {
  color: #df1d1d; /* sau ce culoare vrei */
  background-color: #f4f4f4;
}


/* Text Formatting */
.highlight {
    background-color: #15e72d;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}

em {
    color: #666;
    font-style: italic;
}

.email {
    color: #0066cc;
    font-weight: bold;
}

/* Footer Styling */
.footer {
    text-align: center;
    padding: 2rem;
    background-color: #333;
    color: white;
    margin-top: 2rem;