@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');


*{
    margin: o;padding: 0;

    padding: 0;
    box-sizing: border-box;
}

body{
    --primary: #4a5df9;
    --inputBg: #31d1f0;
    --inputGray: rgb(85, 85, 85);
    --textColor: #2ff54c;

    background-color: #189e8f;
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    color: var(--textColor);
    border-radius: 5px;
}
.gz{
    width: 350px;
    border: 1px solid var(--inputGray);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.7rem;
}
button{
    cursor: pointer;
}
button:hover{
    opacity: 0.7;
}
.gz h1 {
    font-family: "pacifico", cursive;
    color: #5651f9;
    font-size: 2.1rem;
    font-weight: 400;
}
.gz .desc {
    font-size: 1rem;
    font-weight: 500;
    color: chartreuse;
}
.log-in-with-fb{
    display: flex;
    align-items: center;
        justify-content: center;

    background-color: var(--primary);
    color: white;
    border: none;
    padding: 7px 10px;
    height: 2rem;
    border-radius: 20px;
    width: 100%;
    gap: 0.5rem;

}
.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.or > div {
    height: 0.09rem;
    flex:1;
    background-color: var(--textColor);
    opacity: 0.4;
    
}
.field {
    width: 100%;
}
.field input {
    width: 100%;
    padding: 8px 12px;
    background-color: var(--inputBg);
    border: 0.8px solid var(--inputGray);
    border-radius: 10px;
}
.field input::placeholder {
    color: #010b0a;
}
.disclaimer {
    font-size: 0.6rem;
    color: wheat;
}
.disclaimer span{
    color: var(--primary);
}
.sing-up {
    padding: 10px 12px;
    width: 100%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: var(--primary);

}