@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE */
body {
  font-family: "Inter", sans-serif;
  padding: 1rem;
  background: #0f172a;
  color: #e5e7eb;

  min-height: 100vh;
  min-height: 100dvh;
  overflow-x: hidden;
}

/* PREVIEW */
.preview {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

/* CARD */
.card {
  width: 100%;
  max-width: 350px;
  min-height: 200px;
  padding: 1rem;
  border-radius: 5px;
  background-image: url("./bg.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.1) 50%,
    rgba(0,0,0,0) 100%
  );
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.card button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
}

/* PRICE */
.content > div {
  display: flex;
  gap: 0.4rem;
  padding: 5px 12px;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: fit-content;
}

.content .from {
  font-size: 0.7rem;
  align-self: flex-end;
}

.content .price {
  font-size: 0.9rem;
  font-weight: bold;
}

/* CODE AREA */
.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem 1rem;
}

h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 2rem;
}

.code-block {
  background: #020617;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.code-block h2 {
  margin-bottom: 0.5rem;
  color: #38bdf8;
}

pre {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

code {
  display: block;
  color: #a5f3fc;
  line-height: 1.6;
  font-size: 0.85rem;
}
