@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "inter", sans-serif;
    padding: 2rem;
    display: flex;
    justify-content: center;


}

.card {
    width: 350px;
    min-height: 200px;
    padding: 1rem;
    border-radius: 5px;
    background-image: url("./bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;

}
.card::before{
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg,
    rgba(0,0,0,0.3) 0%,
    rgba(0,0,0,0.1) 50%,
    rgba(0,0,0,0) 100%
    );

}
.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    z-index: 999;
}
.card button {
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    color: white;
    border-bottom: 1px solid white;
}
.content > div {
    display: flex;
    background-color: white;
    color: black;
    display: flex;
    gap: 0.4rem;
    padding: 5px 12px ;
    border-radius: 5px;
    width: fit-content;
}

.content .from {
    font-size: 0 .7rem;
    align-self: flex-end;
}

.content .price {
    font-size: 0.9rem;
    font-weight: bold;
}
