@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: "Poppins", sans-serif;

    --primary: #290b50
}


body {
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 30px;          /* spațiu între carduri pe desktop */
  font-family: "poppins", sans-serif;
  --primary: #a29bff;
}



.card {
    width: 350px;
    padding: 0.8rem;
    border-radius: 5px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    border: 0.8px solid var(--primary);
    align-items: center;
    text-align: center;
    

}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 95%;

}
.img-wrapper {
    height: 17rem;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 95%;
}
.content > h2 {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
}
.content > p {
    font-size: 0.75rem;
}
button {
    font-family: inherit;
    background-color: #c8bbec;
    border: none;
    padding: 7px 12px;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 300;
    border-radius: 15px;

}

