@media (max-width: 768px) {
  #certifications {
    flex-direction: column;
    align-items: center;
  }
}


/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* CONTAINER PRINCIPAL */
.contact-container {
  max-width: 1100px;
  margin: 4rem auto;
  padding: 0 1rem;
}

/* INTRO (folosit de 2 ori) */
.contact-intro {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #4b79a1;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  background: linear-gradient(to right, #f387e3, #a855f7);
}

.contact-intro h2,
.contact-intro h3 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

.contact-intro p {
  font-size: 1rem;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
}

/* CONTINUT FORM */
.contact-content {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

/* SECTIUNE FORM */
.contact-form-section {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.contact-form-section h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.form-group input,
.form-group textarea {
  padding: 0.7rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #4caf50;
}

/* BUTON */
.submit-btn {
  margin-top: 1rem;
  padding: 0.8rem;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background: #43a047;
}

/* MESAJ FORM */
.form-message {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

/* SOCIAL */
.social-section {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  text-align: center;
}
